# Aws access:
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Aws areas and auth-related locations: 
AWS_REGION=""

# Aws Build info:
AMI_NAME=""

# Logs:
LOG_BUC23KET=""
LOG_FILE=""

POLLING_SLEEP_TIME=""
RATIO_DENOMINATOR=""

# Aws sqs queue addresses
BACKLOG_QUEUE_ADDRESS=""
COUNT_QUEUE_ADDRESS=""
NEEDS_ATTENTION_QUEUE_ADDRESS=""

# Aws kinesis stream names
STATUS_STREAM_NAME=""